.datasense{
    background: #192224;
    background: -moz-linear-gradient(top, #192224 0%, #21728b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #192224), color-stop(100%, #21728b));
    background: -webkit-linear-gradient(top, #192224 0%, #21728b 100%);
    background: -o-linear-gradient(top, #192224 0%, #21728b 100%);
    background: -ms-linear-gradient(top, #192224 0%, #21728b 100%);
    background: linear-gradient(to bottom, #192224 0%, #21728b 100%);
    width: 100vw;
    height: 100vh;
    color: #d7ecff;
    font-family: "MathJax_Math-italic", "Orbitron", sans-serif;
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 15px #228dff;
}

.datasense-shape{
    background:none;
    border-style: solid;
    border-color:  #d7ecff;
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 15px #228dff;
    stroke: #d7ecff;
}